body {
    background-color: #ffdab9;
}

.header {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

    h1 {
        color: #2f4f4f;
       
    }
    h2 {
        color: #2f4f4f;
       
    }
.timerDisplay {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buttons {
    margin: auto;
    width: 60%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
}

.start {
    border: 2px solid #228b22;
    border-radius: 8px;
    transition-duration: 0.4s;
    width: 8%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.start:hover {
    background-color: #228b22;
  color: white;
}

.pause {
    border: 2px solid #b22222;
    border-radius: 8px;
    transition-duration: 0.4s;
    width: 8%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pause:hover {
    background-color: #b22222;
  color: white;
}

.reset {
    border: 2px solid #778899;
    border-radius: 8px;
    transition-duration: 0.4s;
    width: 8%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.reset:hover {
    background-color: #778899;
  color: white;
}
